/* #######################################################################
####################################################################### */


/* Importamos la fuente Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* #######################################################################
####################################################################### */

/* Estilos body */

body {
    min-height: 100vh;
    padding-top: 90px; /* El relleno es igual a la altura del encabezado para que no lo tape */
    background-color: #045292;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* #######################################################################
####################################################################### */

/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #######################################################################
####################################################################### */

/* Estilos header */

header{
    width: 100%;
    height: 90px;
    background-color: #045292;
    border-bottom: 3px solid #7CB6E0;
    position: fixed;
    top: 0%;
    display: flex;
    align-items: center;
    align-content: center;
}

#navbar{
    margin: 5px;
    font-weight: bold;
    font-size: 17px;
    width: 100%;
}

div.brand {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: auto;
    color: #7CB6E0;
    padding-left: 10px;
}

div.brand h2 span {
    color: #d72c2c;
}

/* estilos del menu movile */

.menu-movile{
    display: none; /* Desactivado por defecto, se activa en pantallas de móviles */
}

div.brand-and-button{
    display: flex;
    align-items: center;
}

.menu-button{
    background-color:  transparent; /* Borramos fondo de los botones */
    border: 0;  /* Quitamos los bordes de los botones */
    color: #7CB6E0;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    align-self: flex-end;
}

.menu-button:hover {
    color: #eb4c49;
    transition: all 0,8s linear;
}

#menu-options-movile{
    display: none;
    background-color: #045292;
}

#menu-options-movile.active{
    display: block;
    position: fixed; /* Posición fija */
    min-height: 100vh;
    width: 100%;
    transition: all 500ms linear;
    left: 0; /* Debido a que el ancho es de 100%, con esto ocultaremos el menú */
}

.ocultar{  /* ocultamos el main y el footer cuando se activa el menu movile */
    display: none;
}

#menu-options-movile li{
    list-style: none; /* Listas sin diseño */
    border-bottom: 1px solid #476387;
}

#menu-options-movile li:first-child{
    margin-top: 2%;
    border-top: 1px solid #476387;
}

#menu-options-movile li a{
    padding: 15px 10px; /* Espaciado, 20 arriba y abajo, 10 a los lados */
    display: flex;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-content: center;
    align-items: center;
}

#menu-options-movile li:hover{
    background-color: #d72c2c;
    transition: all 0,5s linear;
}

#menu-options-movile li a p{
    margin-left: 8%;
}

#menu-options-movile ul li a span{
    color: #fff;
}

/* estilos del menu de escritorio */

.menu-desktop{
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
}

.menu-options-desktop {
    display: flex;
    max-width: 90%;
    justify-content: flex-end; /* Ponemos las opciones del menú al final */
}

.menu-options-desktop li {
    margin: 20px;
    list-style-type: None;
}

.menu-options-desktop li a {
    color: #7CB6E0;
    text-decoration: none;
    padding: 15px 10px; /* Relleno 15px arriba y abajo, 10px derecha e izquierda */
}

.menu-options-desktop li a.active {
    color: #d72c2c;
}

.menu-options-desktop li a:hover {
    background-color: #d72c2c;
    color: #015094;
    transition: ease-in .4s;
}

/* #######################################################################
####################################################################### */

/* Estilos footer */
footer{
    height: 100%;
    border-top: 2px solid #7CB6E0;
    margin-top: auto;
    background-color: #D54946;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div.footer-info{
    text-align: center;
}

footer ul.footer-sotial-network{
    list-style-type: None;
    display: flex;
}

footer ul.footer-sotial-network li a {
    color: #10101E;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}

/* #######################################################################
##########################################################################
##########################################################################
####################################################################### */

/* ESTILOS PANTALLAS MENORES A 1000px */

@media screen and (max-width: 1000px){
    /*ESTILOS PARA EL ENCABEZADO */
    .menu-desktop li a {
        padding: 10px 5px; /* Relleno 10px arriba y abajo, 10px derecha e izquierda */
    }
}

/* #######################################################################
####################################################################### */

/* ESTILOS PANTALLAS MAYORES A 700px */

@media screen and (min-width: 700px){
    /* Evitamos un problema de que si abren el menu movile y agrandan la pantalla, el main y el footer no aparecen  */
    #main{
        display: flex;
    }
    #footer{
        display: flex;
    }
}

/* #######################################################################
####################################################################### */

/* ESTILOS PANTALLAS MENORES A 700px */

@media screen and (max-width: 700px){
    /*ESTILOS PARA EL ENCABEZADO */
    .menu-desktop{
        display: none;
    }
    .menu-movile{
        display: block;
    }
}