/* #######################################################################
####################################################################### */

body div.body-container{
    display: flex;
    flex-wrap: wrap;
}

/* Estilos main */

main{
    display: flex;
    flex-grow: 1;
    padding: 3%;
}

.main-content{
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #7CB6E0;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 2%;
}

.about-me h1{
    color: #045292;
    font-size: 60px;
    text-align: center;
}

.about-me p{
    margin-top: 15px;
    color: #045292;
    font-size: 20px;
    font-weight: bolder;
    text-align: justify;
}

.about-me  a.download-button{
    margin-top: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: #045292;
    box-shadow: 1px 3px 11px -5px;
    text-decoration: none;
}

.about-me  a.download-button:hover{
    background-color: #fff;
    box-shadow: none;
    transition: ease-in 0.3s;
}

div.download-button-content{
    padding: 10px 20px;
    color: #7CB6E0;
    font-weight: bold;
    display: flex;
    align-items: center;
}

button.download-cv{
    cursor: pointer;
    background-color:  transparent;
    border: none;
    font-weight: bold;
    color: #7CB6E0;
}

main img{
    box-shadow: 1px 1px 15px #280000;
    margin: 2%;
    min-width: 250px;
    width: 18%;
}

/* #######################################################################
####################################################################### */

/* ESTILOS PANTALLAS MENORES A 800px */

@media screen and (max-width: 800px){
    /*ESTILOS PARA EL MAIN */
    .main-content{
        flex-direction: column;
    }
}

/* #######################################################################
####################################################################### */

/* ESTILOS PANTALLAS MENORES A 700px */

@media screen and (max-width: 700px){
    /*ESTILOS PARA EL ENCABEZADO */
    main{
        flex-direction: column;
    }
}