/* #######################################################################
####################################################################### */

body div.body-container{
    display: flex;
    flex-wrap: wrap;
}

/* Estilos main */

main{
    display: flex;
    flex-grow: 1;
    padding: 3%;
}

.main-content{
    display: flex;
    align-content: center;
    align-items: center;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 2%;
}

.about-me h1{
    color: #75E6DA;
    font-size: 3.5rem;
    text-align: center;
}

.about-me p{
    margin-top: 15px;
    color: #D4F1F4;
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: justify;
}

.about-me  a.download-button{
    margin-top: 5%;
    width: 150px;
    border-radius: 20px;
    background-color: #05445E;
    box-shadow: 1px 3px 11px -5px;
    text-decoration: none;
}

.about-me  a.download-button:hover{
    background-color: #D4F1F4;
    box-shadow: none;
    transition: ease-in 0.3s;
}

div.download-button-content{
    padding: 10px 20px;
    color: #75E6DA;
    font-weight: bold;
    display: flex;
    align-items: center;
}

button.download-cv{
    cursor: pointer;
    background-color:  transparent;
    border: none;
    font-weight: bold;
    color: #75E6DA;
}

main img{
    box-shadow: 1px 1px 12px #280000;
    margin: 3%;
    min-width: 300px;
    width: 18%;
}

/* #######################################################################
####################################################################### */

/* ESTILOS PANTALLAS MENORES A 800px */

@media screen and (max-width: 850px){
    /*ESTILOS PARA EL MAIN */
    .main-content{
        flex-direction: column;
    }
    main img{
        min-width: 250px;
    }
}

/* #######################################################################
####################################################################### */

/* ESTILOS PANTALLAS ALTURA MAYOR A 1050px */

@media screen and (min-height: 1050px){
    /*ESTILOS PARA EL MAIN */
    .main-content{
        flex-direction: column;
    }
}