/* #######################################################################
####################################################################### */

body div.body-container{
    display: flex;
    flex-wrap: wrap;
}

/* Estilos main */

main{
    display: flex;
    flex-grow: 1;
    border: 2px solid black;
    padding: 5%;
}

.about-me{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.about-me h1{
    color: #fff;
    font-size: 60px;
}

.about-me h1 span{
    color: #d72c2c;
}

.about-me p{
    margin-top: 15px;
    width: 70%;
    font-size: larger;
    font-weight: bolder;
    text-align: justify;
}

.about-me  a.download-button{
    margin-top: 15px;
    width: 150px;
    border-radius: 20px;
    background-color: #d72c2c;
    box-shadow: 1px 3px 11px -5px;
    text-decoration: none;
}

.about-me  a.download-button:hover{
    background-color: #fff;
    box-shadow: none;
    transition: ease-in 0.3s;
}

div.download-button-content{
    padding: 10px 20px;
    color: black;
    display: flex;
    align-items: center;
}

button.download-cv{
    cursor: pointer;
    background-color:  transparent;
    border: none;
    font-weight: bold;
}

.personal-data{
    width: 30%;
    border-radius: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

.personal-data img{
    box-shadow: 1px 1px 15px #666666;
    height: 150px;
    width: 150px;
}

.personal-data ul{
    border-radius: 30px;
    margin-top: 5px;
    width: 100%;
    background-color: #d72c2c;
}

.personal-data ul li{
    list-style: none;
    padding: 5px;
}

p.info-text{
    font-size: medium;
}

p.title{
    font-weight: bold;
    margin-right: 5px;
    font-size: larger;
}

/* #######################################################################
####################################################################### */

/* ESTILOS PANTALLAS MENORES A 700px */

@media screen and (max-width: 700px){
    /*ESTILOS PARA EL ENCABEZADO */
    main{
        flex-direction: column;
    }
}